name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  lint:
    name: Lint Shell Scripts
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck

      - name: Run lint
        run: ./lint.sh

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [ lint ]
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install zip
        run: |
          sudo apt-get update
          sudo apt-get install -y zip

      - name: Run build
        run: ./build.sh

      - name: Clean old artifacts
        run: rm -rf ci-artifacts

      - name: package build artifact
        run: ./package.sh

      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: ./cicd-learning/ci-simulation/ci-artifacts/*.zip
          if-no-files-found: error

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [ build ]
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set executable permissions
        run: chmod +x ./*.sh

      - name: Run tests
        run: ./test.sh

      - name: Upload logs (artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ci-logs
          path: ./cicd-learning/ci-simulation/*.log
          if-no-file-found: warn


  deploy-dev:
    name: Deploy to DEV
    runs-on: ubuntu-latest
    needs: [ build, test ]
    environment: dev
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: artifact

      - name: Deploy to DEV using secret path
        env:
         DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |
         ZIP_FILE="$(ls -1 artifact/*.zip | head -n 1)"
         unzip -o "${ZIP_FILE}" -d extracted
         mkdir -p "$DEPLOY_PATH"
         cp -r extracted/dist "$DEPLOY_PATH/"
         echo "DEV deployed to path: (hidden)"
         find "$DEPLOY_PATH" -maxdepth 3 -type f -print -exec cat {} \;


  deploy-staging:
    name: Deploy to STAGING
    runs-on: ubuntu-latest
    needs: [ deploy-dev ]
    environment: staging
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: artifact

      - name: Deploy to STAGING using secret path
        env:
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |
          ZIP_FILE="$(ls -1 artifact/*.zip | head -n 1)"
          unzip -o "${ZIP_FILE}" -d extracted
          mkdir -p "$DEPLOY_PATH"
          cp -r extracted/dist "$DEPLOY_PATH/"
          echo "STAGING deployed to path: (hidden)"
          find "$DEPLOY_PATH" -maxdepth 3 -type f -print -exec cat {} \;


  deploy-prod:
    name: Deploy to PROD (Manual Approval)
    runs-on: ubuntu-latest
    needs: [ deploy-staging ]
    environment: production
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: artifact

      - name: Deploy to PROD using secret path
        env:
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |
          ZIP_FILE="$(ls -1 artifact/*.zip | head -n 1)"
          unzip -o "${ZIP_FILE}" -d extracted
          mkdir -p "$DEPLOY_PATH"
          cp -r extracted/dist "$DEPLOY_PATH/"
          echo "PROD deployed to path: (hidden)"
          find "$DEPLOY_PATH" -maxdepth 3 -type f -print -exec cat {} \;

